@model sem3.Areas.Admin.Models.DataModels.RechargePlansModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Create</h2>

<h4>RechargePlansModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ServiceProviderId" class="control-label"></label>
                <select asp-for="ServiceProviderId" class ="form-control" asp-items="ViewBag.ServiceProviderId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RechargePlanName" class="control-label"></label>
                <input asp-for="RechargePlanName" class="form-control" />
                <span asp-validation-for="RechargePlanName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RechargePlanValidity" class="control-label"></label>
                <input asp-for="RechargePlanValidity" class="form-control" />
                <span asp-validation-for="RechargePlanValidity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RechargePlanPrice" class="control-label"></label>
                <input asp-for="RechargePlanPrice" class="form-control" />
                <span asp-validation-for="RechargePlanPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RechargePlanData" class="control-label"></label>
                <input asp-for="RechargePlanData" class="form-control" />
                <span asp-validation-for="RechargePlanData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
