@{
    ViewData["Title"] = "About";
}

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <!-- Main -->
    <main id="main" class="mt-5">
        <div class="main-container">
            <div class="content">
                <h3 class="about-heading">About Us</h3>
                <p>
                    Freecharge is a well-known name in the world of payment app serving over 100 million users across the
                    country. Over the years Freecharge has transformed to become one of the leading financial services and
                    investment apps in India. From recharge &amp; bill payments to investment &amp; lending, Freecharge lets you do
                    it all effortlessly. A 100% subsidiary of Axis Bank, Freecharge has always been known for offering safe
                    and seamless UPI payments, utility bill payments, mobile/DTH recharges, Pay Later solutions etc. With a
                    robust infrastructure supporting multiple payment methods, Freecharge users can choose to pay via
                    Wallet, UPI, Net Banking, Debit Cards and Credit Cards to spend across categories at their favourite
                    offline or online merchant. On the lending front, the offerings span across Buy Now Pay Later, Personal
                    loans, Credit Cards, all supported by Axis Bank.
                </p>
                <p>
                    Freecharge is a significant player in the merchant business and is constantly building new products to
                    support small and mid-size retailers across payments and lending. Merchant Cash Advance is a product
                    specially designed to provide seamless and secure loans to the merchants with zero collaterals, thus
                    helping them with the required working capital along with easy repayment options.
                </p>
                <h4>What Makes Freecharge Unique?</h4>
                <ul class="list">
                    <li>A hassle-free online experience</li>
                    <li>Offers/deals available in the app to get rewarded every time you spend</li>
                    <li>Exclusive cashback codes</li>
                    <li>
                        All of our financial services are secure and backed by Axis Bank's trust, so you can transact and
                        invest worry-free on the Freecharge app
                    </li>
                </ul>
                <h4>What’s in Store?</h4>
                <h4>UPI</h4>
                <ul class="list">
                    <li>Transfer money to your friends/family easily or scan any QR to pay at a local store</li>
                    <li>Send/receive money easily in/from your bank account</li>
                </ul>
                <h4>Recharge &amp; Payments</h4>
                <ul class="list">
                    <li>
                        Find best-prepaid recharge plans &amp; mobile recharge offers on JIO Recharge, Airtel Recharge, VI
                        Recharge, and BSNL Recharge
                    </li>
                    <li>Use the Freecharge app for FASTag recharge and travel worry-free</li>
                    <li>
                        Avail exciting offers/rewards on Tata Play recharge, Airtel DTH recharge, Videocon D2H recharge,
                        Dish TV recharge, and Sun direct recharge
                    </li>
                    <li>
                        Avail amazing cashback offers on electricity bill payment, water bill payment, gas bill payment,
                        post-paid bill payment, and broadband bill payment.
                    </li>
                    <li>Book LPG cylinder in minutes and enjoy exclusive offers/discounts.</li>
                    <li>
                        Save your salary and pay rent with a credit card or Buy Now Pay Later on Freecharge to earn reward
                        points
                    </li>
                </ul>
                <h4>Buy Now Pay Later</h4>
                <ul class="list">
                    <li>
                        Extend your monthly budget with Freecharge Pay Later. Get interest-free credit instantly for up to
                        30 days and shop online/offline at 40,000+ stores with just one tap.
                    </li>
                </ul>
                <h4>Get Personal loan</h4>
                <ul class="list">
                    <li>
                        Get a Personal Loan starting from INR 30,000 to INR 5,00,000 with flexibility to repay within 6 to 36 months.
                        Our Lending Partner is Axis Bank.
                    </li>
                </ul>
                <h4>Key Features:</h4>
                <ul class="list">
                    <li>
                        Sign up for Freecharge Pay Later and avail exclusive offers on top brands. Shop cashless at 40,000+
                        online/offline stores.
                    </li>
                    <li>
                        Create your ‘freecharge’ BHIM UPI ID and send money to friends/family or scan any QR to pay quickly
                        &amp; securely at any store. Earn cash back on your transactions.
                    </li>
                    <li>Avail Personal Loan, Credit card, and Pay Later</li>
                    <li>
                        Pay electricity bills online, do recharges, make insurance payments, buy amazing deals from top
                        brands, and many more
                    </li>
                </ul>
            </div>
        </div>
    </main>
</body>
</html>
