@{ 
    ViewData["Title"] = "Customer Care";
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/css/help.css" rel="stylesheet" />
</head>
<body>
    <!-- Main -->
    <main style="margin-left: 200px;">
        <section class="experience_section layout_padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="">
                            <img class="img-box" src="~/image/booking-support.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="detail-box">
                            <div class="heading_container">
                                <h2>
                                    Hi, how can we help?
                                </h2>
                            </div>
                            <p>
                                We've got your back. If your questions aren't addressed, contact us here and we will be happy to help
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="experience_section layout_padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="detail-box">
                            <div class="heading_container">
                                <h2>
                                    Is EaseMyDeal legit & reliable?
                                </h2>
                            </div>
                            <p>
                                EaseMyDeal is an ISO Certified organization registered under the Startup India Initiative, Recognized by DPIIT (Department for Promotion of Industry and Internal Trade), Govt. of India. It is also an authorized Income Tax PSA by UTIITSL (UTI Infrastructure Technology And Services Limited). Hence EaseMyDeal is the most legit & reliable Indian payments platform.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="">
                            <img class="img-box" src="~/image/freelance-img.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="experience_section layout_padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="">
                            <img class="img-box2" src="~/image/experience-img.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="detail-box">
                            <div class="heading_container">
                                <h2>
                                    Is EaseMyDeal safe& genuine?
                                </h2>
                            </div>
                            <p>
                                EaseMyDeal is one of the most secured platforms to make payments online for no. of services. We at EaseMyDeal never store payment details with us. Transactions done through EaseMyDeal are completely safe and secure. One does not need to worry about any security issues or any fraudulent transaction on EaseMyDeal. Hence EaseMyDeal is the safest and genuine platform in India keeping customers interest as its top priority. EaseMyDeal assures complete security to its customers.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="about_section layout_padding">
            <div class="container">
                <div class="row">
                </div>
                <div class="detail-box">
                    <h2>
                        Hepl and Support
                    </h2>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If youThere are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you
                    </p>
                    <a href="">
                        trananh892k3@gmail.com
                    </a>
                    <a href="">
                        0334994538
                    </a>
                </div>
            </div>
        </section>
    </main>
</body>
</html>