/* help */
.layout_padding {
    padding-top: 90px;
    padding-bottom: 90px;
}

.layout_padding2 {
    padding: 45px 0;
}

.layout_padding2-top {
    padding-top: 45px;
    padding-bottom: 45px;
}

.layout_padding2-bottom {
    padding-bottom: 45px;
}

.layout_padding-top {
    padding-top: 90px;
}

.layout_padding-bottom {
    padding-bottom: 90px;
}

.heading_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

    .heading_container h2 {
        font-weight: bold;
        text-transform: uppercase;
    }

.img-box {
    width: 500px !important;
    height: 350px;
}

.img-box2 {
    width: 500px !important;
    height: 450px;
}

.about_section {
    text-align: center;
}

    .about_section .img-box img {
        width: 100%;
    }

    .about_section .detail-box h2 {
        font-weight: bold;
        text-transform: uppercase;
    }

    .about_section .detail-box p {
        margin-top: 15px;
    }

    .about_section .detail-box a {
        display: inline-block;
        padding: 10px 45px;
        background-color: #8e7274;
        color: #ffffff;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        border: 1px solid transparent;
        border-radius: 0;
        margin-top: 25px;
    }

        .about_section .detail-box a:hover {
            background-color: transparent;
            border-color: #ff4f5a;
            color: #ff4f5a;
        }

.freelance_section .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.freelance_section .tab_container .t-link-box {
    margin: 25px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

    .freelance_section .tab_container .t-link-box .img-box {
        width: 90px;
        height: 90px;
        min-width: 90px;
        min-height: 90px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: #1a2e35;
        border-radius: 100%;
        margin-right: 35px;
    }

        .freelance_section .tab_container .t-link-box .img-box img {
            width: auto;
            height: auto;
            max-width: 45px;
            max-height: 45px;
        }

    .freelance_section .tab_container .t-link-box .detail-box h5 {
        font-weight: bold;
        color: #ff4f5a;
    }

    .freelance_section .tab_container .t-link-box .detail-box h3 {
        font-weight: bold;
        color: #252525;
    }

    .freelance_section .tab_container .t-link-box[aria-expanded="true"] .img-box, .freelance_section .tab_container .t-link-box:hover .img-box {
        background-color: #1cbbb4;
    }

.freelance_section .img-box img {
    width: 100%;
}

.client_section .heading_container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 25px;
}

.client_section .detail-box {
    text-align: center;
    margin: 25px 35px;
    padding: 45px 65px 35px 65px;
    -webkit-box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.2);
}

    .client_section .detail-box h4 {
        font-weight: bold;
    }

    .client_section .detail-box p {
        margin-top: 15px;
        margin-bottom: 25px;
    }

.client_section .carousel-control-prev,
.client_section .carousel-control-next {
    top: 50%;
    width: 65px;
    height: 65px;
    border: none;
    border-radius: 100%;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
    background-color: #1a2e35;
    margin: 2px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.client_section .carousel-control-prev {
    background-image: url(../images/prev-angle.png);
}

.client_section .carousel-control-next {
    background-image: url(../images/next-angle.png);
}

.img-box3 {
}

/* end */
